<?xml version="1.0" encoding="utf-8"?>
<root>
  <desktop-ns timeout="3000" name="desktop" debug="true">
    <nohros xmlns="http://nohros.com/schemas/nohros.xsd">
      <common>
        <repository>
          <add name="css-path" relative-path="css"/>
        </repository>
        
        <connection-string>
          <add name="nohros"  dbowner="dbo" dbstring="SQLSERVER"/>
        </connection-string>
        
        <providers>
          <add name="NohrosDataProvider"
               type="Nohros.Data.SqlNohrosDataProvider, nohros.data"
               data-source-type="mssql"
               database-owner="nohros"
               connection-string="nohros"
               encrypted="false"
               assembly-location=""/>
        </providers>

        <login-modules>
          <InvalidLoginModule
            type="Nohros.Test.Security.Auth.ILoginModule_, nohros.test.desktop"
            flag="sufficient">
            <debug>true</debug>
          </InvalidLoginModule>
        </login-modules>
      </common>

      <web>
        <content-groups>
          <group name="common" build="release" mime-type="text/css" path-ref="css-path">
            <add file-name="jquery.js"/>
          </group>
        </content-groups>
      </web>
    </nohros>
    </desktop-ns>

    <desktop timeout="3000" name="desktop" debug="true">
      <nohros>
        <common>
          <repository>
            <add name="css-path" relative-path="css"/>
          </repository>
          
          <connection-string>
            <add name="nohros" dbowner="dbo" dbstring="SQLSERVER"/>
          </connection-string>
          
          <providers>
            <add name="NohrosDataProvider"
                 type="Nohros.Data.SqlNohrosDataProvider, nohros.data"
                 data-source-type="mssql"
                 database-owner="nohros"
                 connection-string="nohros"
                 encrypted="false"
                 assembly-location=""/>
          </providers>

          <login-modules>
            <InvalidLoginModule
              type="Nohros.Test.Security.Auth.ILoginModule_, nohros.test.desktop"
              flag="sufficient">
              <debug>true</debug>
            </InvalidLoginModule>
          </login-modules>
        </common>

        <web>
          <content-groups>
            <group name="common" build="release" mime-type="text/css" path-ref="css-path">
              <add file-name="jquery.js"/>
            </group>
          </content-groups>
        </web>
      </nohros>
      </desktop>
</root>