<?xml version="1.0" encoding="utf-8" ?>
<restql>
  <nohros>
    <providers>
      <options name="BH1SR08">
        <option
          name="connectionString"
          value="Server=192.168.203.186;Database=restql;User Id=nohros;Password=Noors03;"/>
      </options>
      
      <provider
        name="CacheProvider"
        type="Nohros.Caching.MemoryCacheProviderFactory, nohros.caching.memorycache"/>

      <provider
        name="QueryDataProvider"
        type="Nohros.RestQL.SqlQueryDataProviderFactory, nohros.restql">
        <options>
          <option ref="BH1SR08"/>
        </options>
      </provider>

      <provider
        name="SqlQueryExecutor"
        type="Nohros.RestQL.SqlQueryExecutorFactory, nohros.restql"
        group="queryExecutors">
      </provider>
    </providers>
  </nohros>
</restql>
