<?xml version="1.0" encoding="utf-8"?>
<root>
  <desktop timeout="3000" name="desktop" debug="true">
    <nohros xmlns="http://nohros.com/schemas/nohros.xsd" log4net-threshold="DEBUG">
      <common>
        <repository>
          <add name="css-path" relative-path="css"/>
        </repository>

        <connection-strings>
          <add name="nohros"  dbowner="dbo" dbstring="SQLSERVER"/>
        </connection-strings>

        <providers>
          <data>
            <provider
              name="NohrosDataProvider"
              type="Nohros.Data.SqlNohrosDataProvider, nohros.data"
              data-source-type="mssql"
              database-owner="nohros"
              connection-string="nohros"
              encrypted="false"
              assembly-location=""/>
          </data>
        </providers>

        <login-modules>
          <module
            name="invalid-login-module" 
            type="System.String"
            flag="sufficient">
            <debug>true</debug>
          </module>
        </login-modules>

        <chains>
          <chain name="pseudo-chain">
            <node name="SmsMessenger"/>
            <node name="EmailMessenger"/>
          </chain>
        </chains>
      </common>

      <web>
        <content-groups>
          <group name="common" build="release" mime-type="text/css" path-ref="css-path">
            <add file-name="jquery.js"/>
          </group>
        </content-groups>
      </web>
    </nohros>
  </desktop>

  <with-namespace name="with-namespace">
    <nohros xmlns="http://nohros.com/schemas/nohros.xsd"></nohros>
  </with-namespace>

  <without-namespace name="without-namespace">
    <nohros></nohros>
  </without-namespace>

  <missing-common name="missing-common">
    <nohros>
      <web></web>
    </nohros>
  </missing-common>

  <missing-repository name="missing-repository">
    <nohros>
      <common></common>
      <web>
        <content-groups>
          <group name="common" build="release" mime-type="text/css" path-ref="css-path">
            <add file-name="jquery.js"/>
          </group>
        </content-groups>
      </web>
    </nohros>
  </missing-repository>

  <rooted-repository name="rooted-repository">
    <nohros>
      <common>
        <repository>
          <add name="css-path" relative-path="c:\css"/>
        </repository>
      </common>
    </nohros>
  </rooted-repository>

  <repository-node name="repository-node">
    <nohros>
      <common>
        <repository>
          <add name="css-path" relative-path="css"/>
        </repository>
      </common>
    </nohros>
  </repository-node>

  <login-module-flag>
    <nohros>
      <common>
        <login-modules>
          <module
            name="auth-login-module"
            type="System.String"
            flag="invalid-flag"/>
        </login-modules>
      </common>
    </nohros>
  </login-module-flag>

  <login-module-node>
    <nohros>
      <common>
        <login-modules>
          <module
            name="auth-login-module"
            type="Nohros.Test.Configuration.StringLoginModule, nohros.test.desktop"
            flag="sufficient"/>
        </login-modules>
      </common>
    </nohros>
  </login-module-node>
</root>