.adminform
{
	border:solid 1px #d2d2d2;
	color:#696969;
}
.adminform label
{
	float:left;	
	text-align:left;
	margin:2px;
	height:15px;
	line-height:15px;
}
.adminform .mcbutton
{
	background:transparent url(../img/btn-sprite.gif) repeat-x scroll 0pt -43px;
	width:auto;
	padding:0px 3px;
	border:solid 1px #d2d2d2;
	font-size:98%;
}
.adminform h5
{
	color:#e54c05;
	font-size:11px;
	font-weight:bold;
	margin:2px;
}
.adminform .savebtn,
.adminform .cancelbtn
{
	border:none;
	cursor:pointer;
	cursor:hand;
}

.adminform .savebtn
{
	background:transparent url(../img/save-btn.gif) no-repeat;
}

.adminform .cancelbtn
{
	background:transparent url(../img/cancel-btn.gif) no-repeat;
}
#single
{
	text-align:left;
}

#dvUser label
{
	width:150px;
}

#hUser
{
	padding:0 10px 5px;
	width:600px;
	height:12px;
	line-height:15px;
	text-align:left;
}

#mcSystems
{
	
	width:300px;
	left:0px;
	position:relative;
	margin:15px 0;
	padding:5px;
}

#mcSystems a
{
	width:140px;
	display:block;
	float:left;
	height:20px;
	line-height:22px;
	padding:0 0px 0 10px;
}

#mcSystems h4
{
	border-bottom:solid 1px #d2d2d2;
	padding:0 0 5px 0;
	margin:0 0 10px;
}

#dvCsv
{
	text-align:left;
	padding:10px;
	width:600px;
}

h5.hdinfo
{
	margin:0;
	font-size:10px;
}

img.hdimage
{
	margin:10px 0 0 0;
}

#admtask
{
	display:block;
}

#admtask a.more
{
	width:170px;
	margin:10px 0;
}
#admtask div
{
	border:solid 1px #d2d2d2;
	padding:10px;
	width:200px;
	margin:-11px 0 10px 0;
}

#admtask input
{
	font-size:80%;
}

#admtask .abutton
{
	background:none;
	border:none;
	padding:0;
	margin:0;
	text-align:left;
	color:#4387BC;
	cursor:hand;
	cursor:pointer;
}

#admtask p
{
	margin:0;
	padding:0;
}

#dashboard
{
	padding:10px 0;
}

#dashboard ul
{
	float:left;
	display:block;
	padding:0 20px;
	margin:0 15px 0 0;
}

#dashboard ul li
{
	padding:0;
	margin:0;
	width:300px;
	display:block;
}

#dashboard ul li span
{
}

#dashboard div h4
{
	padding:0;
	margin:10px 0;
	border-bottom:solid 1px #d2d2d2;
	font-weight:bold;
	font-size:90%;
	color:#6BBDFA;
	font-size:10px;
}

#dashboard h5
{
	font-size:10px;
}

#dashboard h5.subtitle
{
	margin: 0 5px 8px 0;
	background:transparent none no-repeat scroll 0 center;
	height:30px;
	line-height:40px;
	padding:0 0 10px 45px;
	border-bottom:solid 1px #f2f2f2;
}

.usr
{
	border:solid 1px;
}

.usr tr td
{
	border:solid 1px;
}

#nhnet_alert,
#nhnet_alert div
{
	padding:0 !important;
	margin:0 !important;
}

#nhnet_alert
{
	position:absolute;
	font-size:14px;
	padding:0;
	background:transparent url(../../img/export.png) repeat center center;
	z-index:1000;
	left:150px;
	top:-40px;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index:-1;
	border:solid 1px;
}

#nhnet_alertp,
#nhnet_alerth3
{
	border:none !important;
	position:relative;
	padding:8px 76px 0px 12px;
	display:block;
	margin:0;
	z-index:-1;
}

#nhnet_alerth3
{
	
	font-weight:bold;
	font-size: 100%;
	font-weight: normal;
	z-index:-1;
}

#nhnet_alertp
{
	margin:0;
	padding-top:4px 0 0 0;
}

#nh_rtleft
{
	background:transparent url(../../img/nh_leftcorner.png) no-repeat scroll left top;
	display:block;
	position:relative;
	z-index:100;
}

#nh_rtright
{
	background:transparent url(../../img/nh_rightcorner.png) no-repeat scroll right top;
	display:block;
	position:relative;
	z-index:100;
}

#nh_rbleft
{
	background:transparent url(../../img/nh_leftcorner.png) no-repeat scroll left bottom;
	display:block;
	position:relative;
	z-index:100;
}

#nh_rbright
{
	background:transparent url(../../img/nh_rightcorner.png) no-repeat scroll right bottom;
	display:block;
	position:relative;
	z-index:100;
}

#nh_error
{
	background:transparent url(nh_error.png.ashx) norepeat scroll right top;
}

#nh_test
{
	background:transparent url(export.png.ashx) no-repeat scroll 0 0;
	position:absolute;
	font-size:14px;
	padding:0;
	z-index:1000;
	left:150px;
	top:-40px;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index:-1;
}