<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.ProtocolBuffers" version="2.4.1.473" targetFramework="net40" />
  <package id="must.caching.memorycache" version="0.0.2" targetFramework="net40" />
  <package id="must.common" version="1.8.17.0" targetFramework="net40" />
  <package id="must.metrics" version="0.3.1.4" targetFramework="net40" />
  <package id="nohros.ruby.net" version="0.5.2.4" targetFramework="net40" />
</packages>