body
{
	background:transparent url(../img/topbit.jpg) repeat-x scroll 0 0;
	color:#555555;
	font-family:Arial,Helvetica,sans-serif;
	font-size:70%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:180%;
	margin:0 10px;
	padding:0pt;
	text-align:center;
}

#connecting
{
	position:absolute;
	background:transparent url(../img/dotdotdot.gif) no-repeat scroll 50% 50%;
	top:0;
	left:0;
	right:0;
	height:90%;
	width:100%;
	margin:0 auto;
}
#connecting #info
{
	position:relative;
	background:transparent url(../img/compicon.gif) no-repeat scroll 0 0;
	top:48%;
	width:410px;
	text-align:left;
	padding:10px 0 0 60px;
	font-size:1.9em;
	height:30px;
	line-height:30px;
}
#connecting #info span
{
	font-size:0.5em;
	display:block;
}
a
{
	color:#4387BC;
	text-decoration:none;
}
a:hover
{
	color:#999999;
	text-decoration:none;
}
a:link
{
	cursor:hand;
	cursor:pointer;
}
img
{
	border:0pt none;
}

h1
{
	font-family:Georgia,Times New Roman,Times,serif;
	font-size:200%;
	font-weight:normal;
}

h2
{
	font-family:Georgia,Times New Roman,serif;
	font-size:180%;
	font-weight:normal;
}

h3
{
	font-family:Georgia,Times New Roman,serif;
	font-size:140%;
	font-weight:normal;
}

h4
{
	font-family:Georgia,Times New Roman,serif;
	font-size:120%;
	font-weight:normal;
}
h2, h3, h4
{
	clear:both;
	margin:1em 0pt;
	padding:0pt;
}
table, input, textarea, select, li
{
	color:#555555;
	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:180%;
}
pre
{
	background:#E3F4F9 none repeat scroll 0%;
	border:1px solid #BAE2F0;
	display:block;
	font-family:"Courier New",Courier,monospace;
	font-size:100%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0.5em 0pt;
	overflow:auto;
	padding:10px;
	width:552px;
}
#nopre pre
{
	width:717px;
}
.left
{
	float:left;
	margin:0pt 10px 0pt 0pt;
}
.right
{
	float:right;
	margin:0pt 0pt 0pt 10px;
}
.clear
{
	clear:both;
}
#container
{
	margin:0pt auto;
	position:relative;
	text-align:left;
	width:988px;
}
#container2
{
	margin:0pt auto;
	position:relative;
	text-align:left;
	width:947px;
}
#header
{
	background:transparent url(../img/header_back.gif) no-repeat scroll 20px 0pt;
	border-bottom:1px solid #E1E1E1;
	height:135px;
}
#content
{
	background:transparent url(../img/bck_content.gif) repeat-y scroll 0%;
	padding-bottom:1em;
}
#home #content
{
	background:transparent url(../img/bck_home.gif) repeat-y scroll 0%;
}
#nopre #content
{
	background:transparent url(../img/bck_nopre.gif) repeat-y scroll 0%;
}
.pre
{
	display:inline;
	float:left;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin:0;
	width:139px;
}
.main
{
	display:inline;
	float:left;
	font-size:110%;
	margin:0pt 0pt 0pt 25px;
	width:575px;
}
#home .main
{
	font-size:100%;
	margin-left:0pt;
	width:409px;
}
#nopre .main
{
	margin-left:0pt;
	width:739px;
	background:transparent;
}
.secondary
{
	display:inline;
	float:left;
	margin-left:18px;
	width:307px;
}
.side
{
	display:inline;
	float:left;
	margin-left:23px;
	width:220px;
}
#home .side
{
	margin-left:30px;
}
#footer
{
	border-top:1px solid #E1E1E1;
	color:#555555;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin:0pt auto;
	padding:1em 0pt;
	text-align:left;
	width:988px;
	clear:both;
}
#footer p
{
}
.main h2
{
	color:#333333;
	font-size:240%;
	line-height:100%;
	margin:0.5em 0pt;
	padding:0pt;
}
.main h2.title
{
	font-size:340%;
	line-height:110%;
	padding:0pt;
}
#home .main h2
{
	margin:0.2em 0pt;
	width:390px;
}
.main h3
{
	background:transparent url(../images/dotted.gif) no-repeat scroll 0pt;
	color:#333333;
	font-size:200%;
	margin:1em 0pt 0.5em;
	padding-top:0.5em;
}
.main li h3
{
	background:transparent none repeat scroll 0%;
	border:medium none;
	padding:0pt;
}
.main h3.alt
{
	font-weight:bold;
}
h2.category, h3.category, .main h2.category, #home .main h2.category
{
	background:transparent url(../images/dotted.gif) no-repeat scroll 0pt 100%;
	color:#D7722F;
	font-family:Arial,Helvetica,sans-serif;
	font-size:90%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:28px;
	letter-spacing:0.3em;
	line-height:28px;
	margin:0pt;
	text-transform:uppercase;
}
h2 a,
h3 a
{
	color:#333333;
}
h2 a:hover, h3 a:hover
{
	color:#999999;
}
h2.category a
{
	color:#D7722F;
}
.secondary ul.items h3
{
	font-size:150%;
}
.side h3
{
	background:transparent url(../images/dotted.gif) no-repeat scroll 0pt 100%;
	color:#333333;
	font-weight:bold;
	letter-spacing:-0.05em;
	margin-bottom:0pt;
	padding-bottom:0.5em;
}
.side .items h3
{
	background:transparent none repeat scroll 0%;
	color:#555555;
	font-weight:normal;
	letter-spacing:0pt;
	margin-bottom:0pt;
	padding-bottom:0pt;
}
.pre h3
{
	font-size:100%;
}
#gallery .items h3
{
	font-size:110%;
}
#nopreHeader
{
	background:#F9F9F9 none repeat scroll 0%;
	border-bottom:1px solid #E1E1E1;
	padding:1em 40px;
}
#nopreHeader h2
{
	font-size:400%;
	line-height:110%;
	margin:0.2em 0pt;
}
#nopreHeader p
{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:110%;
	font-style:italic;
	margin:0.2em 0pt;
}
h1
{
	height:93px;
	left:20px;
	margin:0pt;
	overflow:hidden;
	padding:0pt;
	position:absolute;
	text-indent:-8000px;
	top:0pt;
	width:456px;
}
h1 a
{
	display:block;
	height:93px;
	margin-left:68px;
	width:2260px;
}
#cpanel
{
	/*background:#F9F9F9 none repeat scroll 0%;*/
	/*border:1px solid #E1E1E1;*/
	float:left;
	font-family:Tahoma,Times New Roman,Times,serif;
	font-size:1.1em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:0pt;
	padding:5px 10px;
	position:absolute;
	right:0pt;
	text-align:right;
	top:101px;
}
#cpanel a
{
	color:#555555;
}
#nav,
#nav li
{
	height:40px;
	line-height:40px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
}
#nav
{
	float:left;
	left:0pt;
	position:absolute;
	top:95px;
	z-index:10;
}
#nav li
{
	display:inline;
	float:left;
	margin-right:28px;
}
#nav a
{
	color:#555555;
	float:left;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
}
#nav a:hover
{
	color:#AAAAAA;
}
.main ul
{
	margin:1em 0pt;
	padding:0pt;
}
.main li
{
	background:transparent url(../images/ico_bullet.gif) no-repeat scroll 0pt 0.2em;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0pt 0pt 0pt 18px;
}
.main .members li
{
	float:left;
	width:220px;
}
.main .members a
{
	color:#686868;
}
.main .members a:hover
{
	color:#C94C00;
}
.main #nav li
{
	background:transparent none repeat scroll 0%;
}
.main a.more
{
	height:18px;
	line-height:18px;
	margin:1em 0pt;
}
a.more
{
	background:#FCFCFC url(../img/arrow.gif) no-repeat scroll 0pt;
	border:1px solid #E1E1E1;
	font-size:10px;
	height:20px;
	line-height:20px;
	padding:0pt 25px;
	text-transform:uppercase;
	cursor:hand;
	cursor:pointer;
}
.more a:hover
{
	background:#FFFFFF url(../img/arrow.gif) no-repeat scroll 0pt;
}
.mcbutton
{
	background:transparent url(../img/btn-sprite.gif) repeat-x scroll 0pt -43px;
	width:auto;
	padding:0px;
	margin:0;
	border:solid 1px #d2d2d2;
	font-size:98%;
}

/*------------------------------- form ---------------------------------*/

#footer form
{
	margin:0;
	padding:0;
}
form label
{
	display:block;
	font-size:90%;
}
#form p
{
	margin:.5em 0;
	float:left;
	width:250px;
}
.textbox
{
	border:1px solid #ccc;
	width:300px;
	background:#fff url(../img/bck_textbox.gif) repeat-x;
	
}
.button
{
	border:1px solid #ccc;
	background:#ccc;
}
.textarea
{
	border:1px solid #ccc;
	width:400px;
	height:150px;
	overflow:auto;
	background:#fff url(../img/bck_textbox.gif) repeat-x;
	font-size:110%;
}
p.submit
{
	margin:1em 0;
	padding:1em 0;
	clear:both;
}

/*------------------------------- float fix ---------------------------------*/
#content:after, ul:after, li:after, #footer:after,  p:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#content, ul, li, #footer, p{
	display: block;
}
/* Hides from IE-mac \*/
* html #content, * html ul, * html li, * html #footer, * html p{
	height: 1%;
}
#content, ul, li, #footer, p{
	display: block;
}
/* End hide from IE-mac */
/* end float fix */