<?xml version="1.0" encoding="utf-8"?>
<web_test>
	<nohros xmlns="http://nohros.com/schemas/nohros.xsd">
		<repositories>
			<common name="CommonRepository" path="nohros.config" root="common"/>
			<web name="WebReposiroty" path="nohros.config" root="web"/>
			<auth name="AuthRepository" path="nohros.config" root="auth"/>
		</repositories>
	</nohros>

	<common></common>
	<web>
		<paths
			css=""
			js=""
			plugins="">
		</paths>
	</web>
	<auth></auth>
</web_test>