<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="SiteSqlServer" connectionString="Data Source='PLANANALISTA';Initial Catalog='Hydra';User ID='accao_pass';Password='pass(accao)';Asynchronous Processing=true;" />
  </connectionStrings>

  <!--<nohrosNet
      stylePath ="~/css"
      scriptPath="~/js"
      isPathInUrl="true"
      >

    <scriptReplacements>
      <file name="jQuery" path="" />
      <file name="CssCore" path="" />
      <file name="jQueryUI" path="" />
      <file name="jQueryAccordion" path="" />
      <file name="jQueryDialog" path="" />
      <file name="jQueryDraggable" path="" />
      <file name="jQueryResizable" path="" />
      <file name="jQueryDroppable" path="" />
      <file name="jQuerySelectable" path="" />
      <file name="jQuerySlider" path="" />
      <file name="jQueryTabs" path="" />
    </scriptReplacements>
  </nohrosNet>-->
  
  <appSettings>
    <add key="LoginConfigurationFile" value="~/hydra.config" />
    <add key="ToolsConfigurationFile" value="~/hydra.config" />
    <add key="HydraServicesConfig" value="~/hydra.config" />
    <add key="NohrosConfigurationFile" value="~/nohros.json" />
  </appSettings>
  
    <!-- Public Area -->
  <system.web>
    <httpModules></httpModules>

    <httpHandlers>
        <!--<add path="nohrosnet/*.*.ashx" verb="GET" type="Nohros.Net.MergeHttpHandler, Nohros.Net"/>-->
    </httpHandlers>

    <compilation debug="true" defaultLanguage="c#">
    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    <authentication mode="Forms">
      <forms name="HSignIn" loginUrl="Login.aspx" protection="All" timeout="60">
      </forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <!-- End Public Area -->
</configuration>