<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="configFileName" value="~/restql.config"/>
  </appSettings>
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.restql.ashx"
             type="Nohros.RestQL.HttpHandler, nohros.restql.aspnet"/>
      </httpHandlers>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
