<?xml version="1.0" encoding="utf-8"?>
<web>
  <nohros xmlns="http://nohros.com/schemas/nohros.xsd">
    <common>
      <repository>
        <add name="js-path" relative-path="js"/>
      </repository>
      
      <providers>
        <add name="NohrosDataProvider"
             type="Nohros.Titaniums.Vocalcom.Data.SqlVocalcomDataProvider, nohros.titaniums.mssql"
             data-source-type="mssql"
             database-owner="titaniums/connection-strings/vocalcom/@dbowner"
             connection-string="titaniums/connection-strings/vocalcom/@dbstring"
             encrypted="false"
             location="" />
      </providers>
    </common>

    <web>
      <content-groups>
        <group name="common" build="release" mime-type="application/x-javascript" path-ref="js-path">
          <add file-name="common.js"/>
          <add file-name="base.js"/>
        </group>

        <group name="common.debug" build="debug" mime-type="application/x-javascript" path-ref="js-path">
          <add file-name="common.js"/>
          <add file-name="base.js"/>
        </group>
      </content-groups>
    </web>
  </nohros>
</web>