<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0"> 
  <appSettings>
    <add key="NohrosConfigurationFile" value="nohros.config" />
  </appSettings>
  
    <!-- Public Area -->
  <system.web>
    <httpModules></httpModules>

    <httpHandlers>
        <add path="*/restql/*" verb="GET, POST" type="Nohros.Toolkit.RestQL.HttpHandler, nohros.toolkit.restql.aspnet"/>
    </httpHandlers>

    <compilation debug="true" defaultLanguage="c#">
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms"/>
    <sessionState mode="InProc" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <!-- End Public Area -->
</configuration>