<?xml version="1.0" encoding="utf-8"?>
<nohros xmlns="http://nohros.com/schemas/nohros.xsd">
  <common>
    <repository>
      <add name="css-path" relative-path="css"/>
    </repository>

    <providers>
      <add name="NohrosDataProvider"
           type="Nohros.Data.SqlNohrosDataProvider, nohros.data"
           data-source-type="mssql"
           database-owner="nohros"
           connection-string="nohros"
           encrypted="false"
           assembly-location=""/>
    </providers>

    <connection-string>
      <add name="nohros"  dbowner="dbo" dbstring="SQLSERVER"/>
    </connection-string>

    <login-modules>
      <InvalidLoginModule
        type="Nohros.Test.Security.Auth.ILoginModule_, nohros.test.desktop"
        flag="sufficient">
        <debug>true</debug>
      </InvalidLoginModule>
    </login-modules>
  </common>
  
  <web>
    <content-groups>
      <group name="common" build="release" mime-type="text/css" path-ref="css-path">
        <add file-name="jquery.js"/>
      </group>
    </content-groups>
  </web>
</nohros>