<?xml version="1.0" encoding="utf-8"?>
<nohros xmlns="http://nohros.com/schemas/nohros.xsd">
	<repositories>
		<common name="CommonConfigurationFile" path="C:\myapp\common.config" root="nohros"/>
		<web name="WebConfigurationFile" path="C:\web.config" root="nohros"/>
	</repositories>

	<folders xmlns="http://nohros.com/schemas/nohros-web.xsd">
		<release folder="release" css="css" javascript="js" plugins="plugins"/>
		<debug  folder="debug" css="css" javascript="js" plugins="plugins"/>
	</folders>
</nohros>