<?xml version="1.0" encoding="utf-8"?>
<nohros xmlns="http://nohros.com/schemas/nohros.xsd">
	<repository>
      <add name="css-path" relative-path="css"/>
	</repository>

  <common>
    <providers>
      <add name="NohrosDataProvider"
           type="Nohros.Titaniums.Vocalcom.Data.SqlVocalcomDataProvider, nohros.titaniums.mssql"
           dataSourceType="mssql"
           databaseOwner="titaniums/connection-strings/vocalcom/@dbowner"
           connectionString="titaniums/connection-strings/vocalcom/@dbstring"
           encrypted="false"
           assemblyLocation="" />
    </providers>
  </common>
  
  <web>
    <content-groups>
      <group name="common" build="release" mime-type="text/css" path-ref="css-path">
        <add file-name="jquery.js"/>
      </group>
    </content-groups>
  </web>
</nohros>