<?xml version="1.0" encoding="utf-8"?>
<nohros xmlns="http://nohros.com/schemas/nohros.xsd" log4net-threshold="ALL">
  <common>
    <repository>
      <add name="css-path" relative-path="css"/>
    </repository>

    <connection-strings>
      <add name="nohros"  dbowner="dbo" dbstring="SQLSERVER"/>
    </connection-strings>

    <providers>
      <data>
        <provider name="NohrosDataProvider"
             type="Nohros.Data.SqlNohrosDataProvider, nohros.data"
             data-source-type="mssql"
             database-owner="nohros"
             connection-string="nohros"
             encrypted="false"
             assembly-location=""/>
      </data>
    </providers>
    
    <login-modules>
      <module
        name="invalid-login-module" 
        type="Nohros.Test.Security.Auth.ILoginModule_, nohros.test.desktop"
        flag="sufficient">
        <debug>true</debug>
      </module>
    </login-modules>
  </common>
  
  <web>
    <content-groups>
      <group
        name="common"
        build="release"
        mime-type="text/css"
        path-ref="css-path">
        <add file-name="jquery.js"/>
      </group>
    </content-groups>
  </web>
</nohros>